<div class="row">
    <div class="col-xs-4">
        <h2>Заголовок</h2>

        <p>В начале мая легендарная группа Scorpions отправляется в грандиозный мировой тур.</p>

        <p><a class="inp_but" href="#" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-xs-4">
        <h2>Заголовок</h2>

        <p>В начале мая легендарная группа Scorpions отправляется в грандиозный мировой тур.</p>

        <p><a class="inp_but" href="#" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-xs-4">
        <h2>Заголовок</h2>

        <p>В начале мая легендарная группа Scorpions отправляется в грандиозный мировой тур.</p>

        <p><a class="inp_but" href="#" role="button">Подробнее &raquo;</a></p>
    </div>
</div>
<p>&nbsp;</p>