<div class="container-fluid text-center land-tpl2">
    <div class="row">
        <div class="col-xs-6">
            <p><img src="/" alt="" class="img-responsive" style="height: 306px; background: #ccc"></p>

            <h3>Заголовок третьего уровня</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aperiam, corporis deserunt ea earum
                enim, eveniet in, itaque iure nisi quasi quo quod? Assumenda eveniet facilis molestias vel voluptas!</p>
        </div>
        <div class="col-xs-6">
            <p><img src="/" alt="" class="img-responsive" style="height: 306px; background: #ccc"></p>

            <h3>Заголовок третьего уровня</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aperiam, corporis deserunt ea earum
                enim, eveniet in, itaque iure nisi quasi quo quod? Assumenda eveniet facilis molestias vel voluptas!</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>