<div class="container-fluid land-tpl5">
    <div class="row">
        <div class="col-xs-6">
            <img src="/" alt="" class="img-responsive" style="height: 260px; background: #ccc">
        </div>
        <div class="col-xs-6">
            <h2>Основной заголовок</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facilis fugiat hic illo libero maiores
                natus provident tempore totam veniam. Amet illum in iste nam nulla optio perferendis placeat quae?</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>