<div class="land-tpl7">
    <div class="row">
        <div class="col-md-2">
            <img src="/" alt="" class="img-responsive" style="height: 94px; background: #ccc">
        </div>
        <div class="col-md-4">
            <p><b>Основной заголовок</b></p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facilis fugiat hic illo libero maiores
                natus provident tempore totam veniam. Amet illum in iste nam nulla optio perferendis placeat quae?</p>
        </div>
        <div class="col-md-2">
            <img src="/" alt="" class="img-responsive" style="height: 94px; background: #ccc">
        </div>
        <div class="col-md-4">
            <p><b>Основной заголовок</b></p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facilis fugiat hic illo libero maiores
                natus provident tempore totam veniam. Amet illum in iste nam nulla optio perferendis placeat quae?</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>